[submodule "GDCave-EXT"]
	path = Cave-LIB
	url = https://github.com/TamToucan/Cave-LIB.git
[submodule "GDMaze-EXT"]
	path = Maze-LIB
	url = https://github.com/TamToucan/Maze-LIB.git
[submodule "GDDistanceMap-EXT"]
	path = DistanceMap-LIB
	url = https://github.com/TamToucan/DistanceMap-LIB.git
[submodule "GDTracker-EXT"]
	path = Tracker-LIB
	url = https://github.com/TamToucan/Tracker-LIB.git
[submodule "Libs"]
	path = Libs
	url = https://github.com/TamToucan/Libs
